/* Colors derived from ColourLovers (http://www.colourlovers.com/palettes/) */

$primary: #FFF;
$primary-contrast: invert($primary);
$primary-shade: darken($primary, 25%);
$secondary: #0B486B;
$secondary-contrast: lighten($secondary, 50%);
$tertiary: lighten(#4ECDC4, 25%);
$emphasis: #C44D58;
$outline: #A8DBA8;
