/* Import our theme colors & other variables */
@import "sass/variables";

h1 {
  margin-top: 1.25em;
}

#content-side-container {
  float: left;
  padding: 5% 0 5% 10%;
}

#content-side {
  width: 20em;
  padding: 10%;
  border-right: 2px solid $outline;
}

#pic-of-me {
  width: 100%;
}

#content-side-text {
  text-align: center;
}

#content-center {
  overflow: hidden;
  padding: 2em 4em;
  max-width: 900px;
  vertical-align: top;
}

.email {
  display: inline-block;
  margin-top: .25em;
  color: $emphasis;
  text-decoration: none;
}

/* Media Queries */

/* Phones */
@media only screen and (max-width: 767px) {
  #content-side-container {
    padding: 0;
    text-align: center;
  }
  #content-side {
    width: 100%;
    padding: 10% 20% 0 20%;
    border-right: 2px solid $outline;
  }

	#content-center {
    display: inline-block;
    max-width: 100%;
  }
}
