@import "sass/variables";

#main {
  text-align: center;
}

#content {
  display: inline-block;
  max-width: 800px;
  margin: 1em 4em;
  text-align: left;
}

#categories {
  display: inline-block;
  width: 100%;
  margin-top: 2em;
}

.category {
  display: inline-block;
  /*width: 15%;*/
  padding: .25em 2em;
  font-size: 1.25em;
  color: $secondary;
}
.category:hover {
  background-color: $primary-shade;
  cursor: pointer;
  transition: .2s;
}

.category-spacer {
  display: inline-block;
  height: 2em;
  width: 2px;
  background-color: $outline;
  vertical-align: top;
}
