@import "sass/variables";

#canvas {
  display: inline-block;
  margin: 1.5em;
  background: #F2F2F2;
  border: 1px solid black;
}

/* Phones & Portrait Tablets */
@media only screen and (max-width: 767px) {
	#canvas {
    width: 450px;
    height: 300px;
  }
}