@import "sass/variables";

#table-of-contents {
  position: fixed;
  top: 64px;
  left: 0;
	z-index: 1;

	width: 20%;
  height: 100%;
  padding: 1em 0 0 2em;
}
#toc-container {
  width: 100%;
}
.toc-item {
  display: inline-block;
  width: 100%;
  margin: .25em 0 .25em 0;

  color: $primary-contrast;

  font-size: 1.25em;
  text-align: left;
  text-decoration: none;
}

img {
  box-sizing: border-box;
}

.project-pane {
  display: inline-block;
  border-bottom: 2px solid $outline;
  margin-top: 2em;
  //width: 800px;
}
.project-pane.last {
  border-bottom: none;
}

.project-title-text {
  color: $primary-contrast;
}

.project-picture-container {
  position: relative;
  line-height: 0;
}

.project-picture {
  width: 100%;
  transition: all .4s linear;
}

.hovereffect {
  overflow: hidden;
  text-align: center;
}
.hovereffect:hover .project-picture {
  transform: scale(1.2);
}
.hovereffect:hover .project-picture-overlay {
  opacity: 1;
}
.hovereffect:hover .hover-link {
  opacity: 1;
}

.project-picture-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.5);
  opacity: 0.8;

  transition: all .4s ease-in-out;
}

.hover-link {
  display: inline-block;
  margin: 22% 0 0;
  padding: 1em 2em;
  border: 1px solid $primary;

  text-decoration: none;
  text-transform: uppercase;

  color: $primary;
  opacity:1;

  transition: all .2s ease-in-out;
}
.hover-link:hover {
  box-shadow: 0 0 10px $primary;
}

.project-text {
  margin-bottom: 1.5em;
}

/* Small Monitor */
@media only screen and (max-width: 1520px) {
  #table-of-contents {
    width: 15%;
  }
  .toc-item {
    font-size: 1em;
  }
}

/* < Small Monitor */
@media only screen and (max-width: 1280px) {
  #table-of-contents {
    position: relative;
    top: 0;
    z-index: 0;

    width: 100%;
    height: auto;
    margin-top: 2em;
    padding: 0;
  }
  #toc-container {
    text-align: center;
    width: 250px;
    margin: auto;
  }
}

/* Phones & Portrait Tablets */
@media only screen and (max-width: 767px) {
  .project-picture-overlay {
    opacity: 1;
  }
  .hover-link {
    margin: 20% 0 0;
    opacity: 1;
  }
}