body {
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif; /* Import custom font */
	line-height: 1.5em;
	background: #333;
}

div {
	box-sizing: border-box;
}

/* Title container on left hand side with my name */
#title-container {
	width: 5%;
	height: 100%;
	position: absolute;
	background: #333;
	border-right: 3px solid #ddd;
	transition: .5s;
	z-index: 1;
}
#title-container:hover {
	background: #ddd;
}
#title-container:hover > #title {
	fill: #333;
}

/* Title text of my name */
#title {
	fill: #ddd;
	transition: fill .5s;
}

/* Main navigation pane area */
#main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	background: red;

	position: absolute;
	width: 95%;
	height: 100%;
	right: 0;
}

/* Border slide-animate testing */
#border-animate-test {
	z-index: 100;
	width: 0;
	height: 2px;
	background: red;
	position: absolute;
	top: -2px;
	left: 0;
	transition: width .5s;
}
#thoughts:hover > #border-animate-test {
	width: 100%;
}

/* Individual navigation panes */

#thoughts {
	flex-basis: 60%;
}

#projects {
	flex-basis: 40%;
}

#social {
	flex-basis: 40%;
}

#media {
	flex-basis: 60%;
}

/* Shared stylings */
.nav-container {
	color: #ddd;
	background: #333;
	border: 2px solid #ddd;
	text-align: center;
	position: relative;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	/*
	display: flex;
	align-items: center;
	justify-content: center;
	*/
}

.nav-container-title {
	color: #ddd;
	font-size: 2em;
}

.nav-container:hover > div {
	opacity: 1;
}

#blog {
	flex-basis: 100%;
}
#dreams {
	flex-basis: 50%;
}
#stories {
	flex-basis: 50%;
}

.nav-container-nested {
	color: #ddd;
	background: #333;
	border: 2px solid #ddd;
	text-align: center;
	opacity: 0;
	transition: opacity .3s;
}
