body {
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5em;
	background: #333;
}

/* Title container on left hand side with my name */
#title-container {
	height: 100%;
	position: absolute;
	background: #333;
	border-right: 3px solid #ddd;
	transition: .5s;
	z-index: 1;
}
#title-container:hover {
	background: #ddd;
}
#title-container:hover > #title {
	fill: #333;
}

/* Title text with my name */
#title {
	fill: #ddd;
}

#main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	background: red;

	position: absolute;
	height: 100%;
	right: 0;
}

#thoughts {
}

#projects {
}

#social {
}

#media {
}

.nav-container {
	color: #ddd;
	background: #333;
	border: 2px solid #ddd;
}
