/* Import our theme colors & other variables */
@import "public/sass/variables";

#content-side-container {
  float: left;
  padding: 5% 0 5% 10%;
}

#content-side {
  width: 20em;
  padding: 10%;
  border-right: 2px solid $outline;
}

#pic-of-me {
  width: 100%;
}

#content-side-text {
  text-align: center;
}

#content-center {
  width: 40em;
  float: left;
  padding: 2em 4em;
  vertical-align: top;
}
