/* Import our theme colors & other variables */
/* Pattern Miaka from colourlovers */
/* TOOD: These names are completely fucking made up. Research standard design principles and naming conventions. */
#content-side-container {
  float: left;
  padding: 5% 0 5% 10%; }

#content-side {
  width: 20em;
  padding: 10%;
  border-right: 2px solid #13747D; }

#pic-of-me {
  width: 100%; }

#content-side-text {
  text-align: center; }

#content-center {
  float: left;
  padding: 2em 4em;
  vertical-align: top; }
