doctype html
html
head
  include templates.pug
  +header("About")
  link(rel='stylesheet', type='text/css', href='css/app.css')
  link(rel='stylesheet', type='text/css', href='css/about.css')
body
  +menu("About")
  div#container
    div#main
      div#content-side-container
        div#content-side
          img#pic-of-me(src='img/me.jpg', alt='Pic of me')
          p#content-side-text A picturesque fall photo of me and my dog Trixie. If I'm lucky I get a photogenic picture about twice a year... This was one of those photos.
      div#content-center
        h1 About Me
        p If you somehow bypassed the home screen, my name is Brian Schmoker.
        p I'm a pretty huge nerd and I spend most of my time on the computer, reading, or with friends. I'm always looking for ways to learn and improve, even at the cost of my own sanity.
        p As my day job, I work doing full-stack web development in Asp.net MVC. At night, I work on side projects. One of my larger goals at the moment is to create a source of income outside my job. I am of the opinion that everyone should strive to have multiple streams of income, so as to reduce dependency on a single one.
        h1 Contact
        p The best way to get ahold of me is through email:
          br
          a.email(href='mailto:me@brianschmoker.com') me@brianschmoker.com
    +footer
