doctype html
html
head
  include templates.pug
  +header("About")
  link(rel='stylesheet', type='text/css', href='css/app.css')
  link(rel='stylesheet', type='text/css', href='css/about.css')
body
  +menu("About")
  div#container
    div#main
      div#content-side-container
        div#content-side
          img#pic-of-me(src='img/me_rock_climbing.jpg', alt='Pic of me rock climbing')
          p#content-side-text Me rock climbing on Aerogel @ #[a(href="https://www.mountainproject.com/area/105745127/satellite-boulders", target="_blank") Satellites] in Boulder.
      div#content-center
        h1 About Me
        p Hello and welcome to my personal website. I created this first and foremost because it's cool to have a personal website. But, I also wanted a place to house my projects and write blog posts.
        p I'm currently unemployed, living off money I saved from my last job and attempting to create passive income streams via affiliate marketing (check out one of my sites: #[a(href="https://tea-culture.net/", target="_blank") tea-culture.net]). At my last job, I worked as a full-stack Asp.net web developer (no, that doesn't mean I like Windows).
        h1 Contact
        p The best way to get ahold of me is through email:
          br
          a.email(href='mailto:me@brianschmoker.com') me@brianschmoker.com
    +footer
