doctype html
html
head
  include templates.pug
  +header("About")
  link(rel='stylesheet', type='text/css', href='css/app.css?version=1')
  link(rel='stylesheet', type='text/css', href='css/about.css?version=1')
body
  +menu("About")
  div#container
    div#main
      div#content-side-container
        div#content-side
          img#pic-of-me(src='img/me_rock_climbing.jpg', alt='Pic of me rock climbing')
          p#content-side-text Me rock climbing on Aerogel @ #[a(href="https://www.mountainproject.com/area/105745127/satellite-boulders", target="_blank") Satellites] in Boulder.
      div#content-center
        h1 About Me
        p Hello and welcome to my personal website. I created this to experiment with new web development tools, share the projects I'm working on, and potentially blog.
        p When I'm not programming, you can find me bouldering or lifting weights at the local climbing gym. I've also been practicing Japanese for an hour or two daily since September of 2018. A dream of mine is to visit the 2020 Tokyo Summer Olympics and watch the newly added climbing events.
        p If you have a cool project or job opportunity available, I'd love to hear about it.
        h1 Contact
        p The best way to get ahold of me is through email:
          br
          a.email(href='mailto:me@brianschmoker.com') me@brianschmoker.com
    +footer
