mixin border-slide
  div.border-slide.border-slide-horizontal.border-slide-top
  div.border-slide.border-slide-horizontal.border-slide-bottom
  div.border-slide.border-slide-vertical.border-slide-right
  div.border-slide.border-slide-vertical.border-slide-left

doctype html
html
head
  include templates.pug
  +header("About")
  link(rel='stylesheet', type='text/css', href='css/app.css')
  link(rel='stylesheet', type='text/css', href='css/home.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='js/home.js')
body
  a#title-container(href='about')
    div#title Brian Schmoker

  div#main-nav
    a#thoughts.nav-pane(href='thoughts')
      div.nav-pane-title-container
        span.nav-pane-title Thoughts
      +border-slide

    a#projects.nav-pane(href='projects')
      div.nav-pane-title-container
        span.nav-pane-title Projects
      +border-slide

    div#media.nav-pane
      div.nav-pane-title-container
        span.nav-pane-title Media
      +border-slide
