doctype html
html
head
  include templates.pug
  +header("Playground")
  link(rel='stylesheet', type='text/css', href='css/app.css')
  link(rel='stylesheet', type='text/css', href='css/content-page.css')
  link(rel='stylesheet', type='text/css', href='css/playground.css')
body
  +menu()
  div#container
    div#main
      div#canvas
    +footer
