doctype html
html
head
  include templates.pug
  +header("Projects")
  link(rel='stylesheet', type='text/css', href='css/app.css')
  link(rel='stylesheet', type='text/css', href='css/content-page.css')
  link(rel='stylesheet', type='text/css', href='css/projects.css')
body
  +menu("Projects")
  div#container
    div#main
      div#categories
        a.category Coding
        span.category-spacer
        a.category Art
      div#content
        div.project-pane
          h1.project-title-text Kineticraft.net
          div.project-picture-container
            div.hovereffect
              img.project-picture(src='img/Kineticraft_Home.png', alt='Kineticraft Home Page')
              div.project-picture-overlay
                a.hover-link(href='http://kineticraft.brianschmoker.com') View Project
          div.project-text
            p I used to run a vanilla Minecraft server with a few friends. When we realized we needed a website to garner more attention, I took it upon myself to create one. I could have just used some Wordpress template, but I had a specific idea of how I wanted it to look that only custom code could create.
            p This website was the result. It was the first website I ever built and was hand coded in html, css, and php. I'm proud of the design, although my color selection could have been a bit better. The code isn't very pretty, but it get's the job done.
            p.last The server is still running today. I gave the domain away to a few dedicated staff. They have since updated the website to a <a href="https://github.com/flarum/flarum">Flarum</a> template. If you play Minecraft, pay them a visit. Tell them ThunderBird21 sent you.
        div.project-pane.last
          h1.project-title-text Billiards
          div.project-picture-container
            div.hovereffect
              img.project-picture(src='img/Billiards.png', alt='Billiards')
              div.project-picture-overlay
                a.hover-link(href='http://billiards.brianschmoker.com') View Project
          div.project-text
            p One of the first programming environments I ever used was called <a href="https://processing.org/">Processing</a>. It added a graphics library to Java and simplified the animation loop a bit. Using Processing, I got really into simulating physics and billiards seemed like a cool way to put that into practice. I also have a cool box program build with a physics framework called <a href="http://box2d.org/">Box2D</a>. I'll put it up on here if I find it.
            p No physics library was used for this because I wanted to experiment with the basics of physics simulation. The result is pretty realistic, although the ball collisions don't work very well at high speeds. Also, ball rotation is partially broken, but I'm glad I got it working at all.
            p This was originally programmed in Java, but Processing has a port tool that allowed me to convert the program into Javascirpt (Processing.js) and host it on the web.
    +footer
