mixin header(title)
  title Brian - #{title}
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')

mixin menu(selected)
  div#menu
    div#menu-items
      div
        a#home-button.menu-item(href='home')
          span.menu-item-text Home
            div.underline-slide
          div.dropdown-content
            a(href='#') Link 1
            a(href='#') Link 2
            a(href='#') Link 3
      div
        a.menu-item(href='thoughts')
          span.menu-item-text Thoughts
            div.underline-slide
      div
        a.menu-item(href='projects')
          span.menu-item-text Projects
            div.underline-slide
      div
        a.menu-item(href='#')
          span.menu-item-text Media
            div.underline-slide
      div
        a.menu-item(href='about')
          span.menu-item-text About
            div.underline-slide
  script.
    // Underline the current page based on what was passed to this mixin through the selected parameter
    var currentPage = "#{selected}"
    var menuItems = document.getElementsByClassName("menu-item-text")
    for (var i = 0; i < menuItems.length; i++) {
      if (menuItems[i].textContent.toLowerCase() == currentPage.toLowerCase()) {
        // Set the underline to full width
        menuItems[i].childNodes[1].setAttribute("style", "width: 100%")
      }
    }

mixin footer
  div#footer
    ul
      li Home
      li About
      li Thoughts
      li Projects
      li Media
