doctype html
html
head
  include templates.pug
  +header("Thoughts")
  link(rel='stylesheet', type='text/css', href='css/app.css?version=1')
  link(rel='stylesheet', type='text/css', href='css/content-page.css?version=1')
  link(rel='stylesheet', type='text/css', href='css/thoughts.css?version=1')
body
  +menu("Thoughts")
  div#container
    div#main
      div#content
        div.blog
          h2 My YouTube Addiction
          div.details
            span.blog__publication-date August 28th, 2019
          p I spend too much time watching YouTube. On a busy day, I spend 30 minutes surfing videos. On a lazy day, I might spend 4 to 6 hours clicking through YouTube's recommended videos.
          p It is a legitimate addiction. It is impacting my motivation and hijacking time that could be better spent in more productive avenues.
          p In #[a(href="https://tim.blog/2016/02/10/seth-godin/", target="_blank") a 2016 podcast with Tim Ferriss], #[a(href="https://www.sethgodin.com/", target="_blank") Seth Godin] mentioned that he refuses to watch TV. He wants to choose the media he consumes, rather than having someone else choose for him. 
          p In the case of YouTube, it is not a someone picking the content, but a something. The YouTube recommendation algorithm feeds you exactly what you need to see to stay on the site for as long as possible.
          p Many of the most popular sites on the internet work in this way. They hire the smartest engineers in the world to create algorithms to recommend the best of their content to you:
          ul
            li Amazon recommends the best products to buy
            li Netflix spends billions creating content and recommending the best shows
            li Reddit utilizes their own users to create content and aggregate it for them
            li Facebook and Twitter are nothing more than a feed of what you most want to see
            li Yelp relies on user reviews, but also manipulates their recommendations based on which companies pay them the most
            li Google's search engine is a recommendation algorithm at it's core
            li There are countless other examples
          p These algorithms no doubt offer tremendous value to our lives. Otherwise we wouldn't use them. However, are the algorithms too powerful to use productively. Is there some happy medium between total abstinence and addiction?
          p Maybe. But I am not yet strong enough or smart enough to resist the allure of YouTube. It has become an addiction, and I fear the only path out is total withdrawal.
          p One of the YouTubers I watch frequently is a man named Harald Baldr. Mr. Baldr makes travel videos to countries all over the world. I have been enjoying watching many of his adventures in Asia. 
          p On his blog, which is no longer up, he claims that when he isn't at the gym or traveling, he is working or reading. Who knows if he is telling the truth, but this is the kind of lifestyle and focus I want to cultivate in my life. 
          p In an attempt to replicate his success, I'm going to perform a strict 1 year no-YouTube fast. Until August 29th, 2020, I will try not to visit the site or click on a single YouTube link. In that time, I will do my best to replace my YouTube consumption with books and podcasts.
          p Will something else equally as unproductive come to fill it's place instead of books and podcasts? Perhaps I will get sucked into a video game, a new series on Netflix, or a different form of social media.
          p Only time will tell. Wish me luck!
        div.blog
          h2 Overcoming Addiction and Forming Good Habits
          div.details
            span.blog__publication-date February 6th, 2017
          div.quote
            span.quote-text "Routine in an intelligent man is a sign of ambition"
            span.quote-author  - W. H. Auden
          p I used to be addicted to video games. It was not uncommon for me to put 40 hours on a game in a week. Beyond school, I had little room for other priorities. I didn’t have a girlfriend in high school, because no girl wants to date a guy who skips showers. Worst of all, I was chronically underslept and always anxious. I saw a psychiatrist and a therapist because I thought my anxiety was permanent and unchangeable. The psychiatrist put me on an SSRI to help curb the anxiety, but the only thing it did for me was make orgasms less enjoyable.
          p All of that was just over two years ago. These days, I have significantly less anxiety and I rarely put in more than 2 hours a week playing games. Your addiction may not be video games. For you, it may be social media such as Facebook, Reddit, Twitter, and Youtube. These things can seriously destroy your life. It may even be a combination of addictions. Whatever your achilles heel, it can be overcome. It’s all a matter of breaking down the way your brain works.
          p How does a concert pianist practice diligently for 35 hours a week? How do olympians have the ability to pour their heart out at every single practice? Are some people just naturally more motivated than others? No. There are two factors that predominantly affect their success. Discipline and routine. It is much easier to do hard things when those hard things are a habit. Think about your own past. There has to be something that you did on a daily basis that if you had to do once, it would suck, but since you did it every day you got used to it. It just became a part of your life.
          p It all starts with a daily routine. Habits are the key to unlocking your goals. Quoting Aristotle: Excellence is not an act, but a habit. That’s great, but there’s not much you can do with just this information. In order to make your habits a reality, there are a few key concepts you have to stick to.
          h3 Start Small
          p One saying I absolutely hate is “People never change.” This is simply not true. It just takes time, and it takes time because you have to take small steps. If you are just now embarking on this journey, this may be hard to hear. The mind craves instant gratification. Yes, you can try to quit cold turkey, but relapse is a very real thing, and most people simply don’t have the willpower to make this drastic of a change.
          p Once you can accept that the process takes time, you can begin to chart a path out of your addiction and into a better routine. The first step is to become more aware of how you are currently spending your time. 4 hours a day adds up to 28 hours in a week, 120 hours a month, and 1461 hours a year. That’s a lot of time. Try to get a rough feel about where your time currently goes.
          p Next, you have to figure out what small adjustments you can make to your schedule right now to move you towards better habits. There’s an important idea in the habit-formation community based upon chaining new habits on to existing ones. What habits do you have in your life right now? Maybe you eat lunch or dinner at a specific time every day. Maybe you brush your teeth at exactly 9:30 PM. Whatever it is, take a new habit you want to form and chain it onto that existing habit. After you eat lunch, meditate for 20 minutes. Once you finish dinner, read for half an hour. And if you don’t have proper habits to chain your new ones onto, simply set a time when you will begin that habit. The catch is that it has to be a time that’s available almost every day. If you’re always home at 5 PM, go for a 15 minute jog at exactly 5:00 PM.
          p Don’t try to overload your schedule all at once. Think of one habit you’d like to introduce into your life right now. Some of my favorites, as mentioned above, are meditation and reading. Some other good options are daily exercise, proper sleep, and taking walks. Once you feel like you have a decent grasp on that one habit, add another. If you stick to this process, your life will change before you know it.
          h3 Out with the Old, In with the New
          p Finding a proper substitute for your addiction can be the difference between failure and success. This is where the idea of habit displacement comes in. Like that famous Indiana Jones scene in Raiders of the Lost Ark where he replaces the golden idol with a bag of sand in order to not set off the trap, you have to find an adequate substitute to your addiction. However, just as in the movie, this is harder than it seems.
          p It can be helpful to think of this process as a game. In this game, your emotions are a key player in deciding what you will do at any moment in time. You have to make avoiding your addiction as pleasant or as easy as possible.
          p One powerful idea is finding a social group outside your addiction that you enjoy being around. This could be a sports club, a hobby group, an old group of friends you’ve distanced yourself from, or any kind of healthy social outing that meets together regularly. If you’ve been engaging in your addiction long enough, you’ve likely formed a social group around that activity. This can make it very hard to break away, and is why it’s important to find a new group. Humans are social creatures. Don’t deny your need for a support group. It is MUCH harder to break free from addiction alone.
          p Also, while I don’t endorse the idea of quitting cold turkey altogether, it can be useful to take a break from your addiction. Give yourself 7 days where you will not touch or engage in anything that has to do with the addiction. If 7 days wasn’t so bad, try 30. During this so called break, observe the way your body feels. Notice your cravings, and watch what happens to them as you ignore them. From this process, you will gain insight into your addiction and you may even find candidates for substitute activities. Whenever I do these, I always feel much more relaxed and productive.
          p When I first got serious about the idea of giving up my video game addiction, I knew what I wanted to do, but I didn’t have the self-control to follow through. Every time I’d try to stop playing, I’d get bored and didn’t know what to do. All I could think about was video games.
          p The thing that changed everything for me was a family road trip. I took a 3 week vacation with my mom and my cousin’s family to California. Since I was trying to give up video games, I decided against taking my handheld Gameboy or Nintendo DS. Knowing that I would require some form of stimulation, I packed a book, The Girl with the Dragon Tattoo.
          p At first, I resisted. I hated reading all throughout school. On top of that, I was a slow reader with mild OCD tendencies. If I felt I had not properly retained what I had read, I would reread it again and again, quite literally dozens of times.
          p A couple days into the trip I was morose from boredom. Flipping through the items I had brought on the trip, I found the book that I had packed and decided to give it a shot. Acknowledging my compulsion to reread, I forced myself not to. I told myself that it didn’t matter how much I retained, as this was just some fiction book that drew my eye. An hour and a half passed and I had read 30 pages. Wow, this is not bad, I thought to myself. 3 more hours went by and I was 100 pages in. That day a new pathway opened in my brain. I had found my substitute.
          p I finished the book in a week and picked up the next book in the series from a book store we passed. I then finished that one before the trip ended. Over the next couple of months I started or finished a dozen or so books that I had discarded years before. Reading largely displaced my desire to play video games and I found myself naturally spending less and less time each week with a controller in my hand. If you can find your own substitute, it will make giving up your addiction so much easier.
          h3 Handling Failure
          div.quote
            span.quote-text “The man who thinks he can and the man who thinks he can’t are both right.”
            span.quote-author  - Confuscious
          div.quote
            span.quote-text “Every success and every failure are equal bricks in my mansion.”
            span.quote-author  - Mitchell Kelley
          p When you do fail, and trust me when I say you will fail more than you expect, remember that failure is another part of the process. It doesn’t matter if you fail, as long as you’re trending toward improvement. Is failure bad? Yes, otherwise it wouldn’t be called failure. Many self-help gurus don’t acknowledge this fact. But you must understand that while failure is bad, it does no good to think of it as such. As soon as you notice your thoughts drifting towards self-deprecation, catch yourself. Take a step back, go on a walk, and reflect on why you failed.
          p As you reflect, monitor the language you use to describe the failure. If you’re hard on yourself like me, you will hear things like:
            <br /> “I suck.”
            <br /> “I lacked the willpower to do x.”
            <br /> “I’m just not a motivated person.”
            <br /> Redirect these thoughts. Restructure your wording to sound more like:
            <br /> “I failed today because of X. I will try to avoid situation X in the future, but if it cannot be avoided, I will try Y. I’m still awesome because I’m trying to improve and I will try my hardest to remain positive. There’s nothing more that can be done about the failure, and I’m going to try again tomorrow.”
            <br /> You get the jist. You can experiment with your own format if you’d like, but the two key concepts in this are learning from your failures, and staying positive.
          p Why is optimism such a big deal? You may think of yourself as a naturally pessimistic person, or a realist. You shouldn’t think positive because I told you to or because it feels good. You should be optimistic because your success depends upon it. There’s fascinating research that’s been done on this topic and one of the books that’s on my reading list is called The Winner Effect by Ian H. Robertson. The idea behind this research is that after you succeed, your body produces chemicals such as Testosterone and Dopamine. These chemicals in turn affect the way you think and act, and make it more probable that you will succeed in the future. The rich get richer. This basic economic principle affects the pursuit of success as well. Unfortunately, the poor get poorer. Self-deprecating thinking puts you in a negative spiral that makes it less likely for you to succeed in the future. We can’t change biology, but what we can do is minimize the downside. When you catch yourself beginning to fall, recognize why, but stay optimistic and keep that spiral going up. Remember, this is an emotional journey. Be careful not to burn yourself out. If you do, you are sure to backslide into poor behavior.
          br
          p Ok, so those are three big concepts that I believe helped me along the way and will hopefully help you in your journey. The last concern I want to address is “I don’t have the time to...”. You don’t make time, you make priorities. Let me say that in a different way. This isn’t about adding new things to your schedule, it’s about replacing your old corrosive habits with healthier ones. The art of simplification is a valuable one.

          p To conclude, I want to share with you what keeps me motivated. You have to have something you’re passionate about. The most powerful motivator in my life is the idea of a better future. The idea that I’m going to get a little bit better and a little bit closer to my goals every SINGLE day. And over time, that improvement is going to accumulate into something tangible. Something I can taste and feel. Something I can point to and say:
            <br /> That.
            <br /> THAT is what I created.
            <br />
            <br /> And that is what keeps me motivated.
    +footer
