/* Import our theme colors & other variables */
/* Pattern Miaka from colourlovers */
/* TOOD: These names are completely fucking made up. Research standard design principles and naming conventions. */
/*
$secondary: #333;
$primary: #FFF;
$primary-contrast: lighten($primary, 10%);
$tertiary: #AAA;
$tertiary-contrast: darken($tertiary, 25%);
$emphasis: #FC354C;
$outline: #13747D;
*/
/*
$secondary: #C02942;
$primary: #542437;
$primary-contrast: lighten($primary, 10%);
$tertiary: #53777A;
$tertiary-contrast: lighten($tertiary, 25%);
$emphasis: #ECD078;
$outline: #D95B43;
*/
/*
thought by someby vaneea
#ECD078

thoughtful brickby laleh1979
#D95B43

Thoughtlessby EnaBean
#C02942

thought you wereby chromatic aberration
#542437

Thoughtlessby geeksmakemehot
#53777A
*/
h1 {
  margin-top: 1.25em; }

#content-side-container {
  float: left;
  padding: 5% 0 5% 10%; }

#content-side {
  width: 20em;
  padding: 10%;
  border-right: 2px solid #13747D; }

#pic-of-me {
  width: 100%; }

#content-side-text {
  text-align: center; }

#content-center {
  overflow: hidden;
  padding: 2em 4em;
  max-width: 900px; }

.email {
  display: inline-block;
  margin-top: .25em;
  color: #FC354C;
  text-decoration: none; }

/* Media Queries */
/* Phones */
@media only screen and (max-width: 767px) {
  #content-side-container {
    padding: 0;
    text-align: center; }
  #content-side {
    width: 100%;
    padding: 10% 20% 0 20%;
    border-right: 2px solid #13747D; }
  #content-center {
    display: inline-block;
    max-width: 100%; } }
