/* Recommended css groupings */
/*
.selector {
  /* Position */
/*
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  /* Display & Box Model */
/*
  display: inline-block;
  overflow: hidden;
	float: left;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
	margin: 10px;
  padding: 10px;
  border: 10px solid #333;

  /* Color */
/*
  background: #000;
  color: #fff;
	opacity: .5;

  /* Text */
/*
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  /* Other */
/*
  cursor: pointer;
}
*/
/* Import our theme colors & other variables */
/* Colors derived from ColourLovers */
/* Shared body attributes */
body {
  height: 100%;
  margin: 0 auto;
  background: #FFF;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  /* Import custom font */
  line-height: 1.5em; }

html {
  height: 100%; }

/* Put border inside box instead of growing it */
/* This will likely need to be made more specific in the future */
div {
  box-sizing: border-box; }

p {
  font-size: 1.25em; }

a {
  color: #C44D58; }

/* Remove bullet point from list elements */
li {
  list-style-type: none; }

::selection {
  color: #FFF;
  background: #C44D58;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  color: #FFF;
  background: #C44D58;
  /* Gecko Browsers */ }

/* Navigation menu at top of most content pages */
#menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 4em;
  border-bottom: 1px solid #83caf2;
  background: #0B486B; }

#menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.last {
  margin-bottom: 0; }

.menu-item {
  padding: .5em .75em;
  font-size: 1.5em;
  text-decoration: none; }

.menu-item:hover .underline-slide {
  width: 100%; }

.menu-item:hover .dropdown-content {
  display: block; }

.menu-item-text {
  position: relative;
  color: #FFF; }

.underline-slide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #C44D58;
  transition: width .3s; }

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%; }

#home-button {
  margin-right: 2em; }

#container {
  position: absolute;
  min-height: 100%;
  width: 100%; }

/* Main content area */
#main {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: 4em; }

#footer {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1em;
  background: #0B486B;
  /* Creates effect of footer extending to bottom of page */
  box-shadow: 0px 10000px 0px 10000px #0B486B;
  text-align: center; }

.footer-item {
  color: #83caf2; }
