/* Recommended css groupings */
/*
.selector {
  /* Position */
/*
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  /* Display & Box Model */
/*
  display: inline-block;
  overflow: hidden;
	float: left;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #333;
  margin: 10px;

  /* Color */
/*
  background: #000;
  color: #fff

  /* Text */
/*
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  /* Other */
/*
  cursor: pointer;
}
*/
/* Import our theme colors & other variables */
/* Pattern Miaka from colourlovers */
/* TOOD: These names are completely fucking made up. Research standard design principles and naming conventions. */
/* Shared body attributes */
body {
  height: 100%;
  margin: 0 auto;
  background: #29221F;
  color: #FCF7C5;
  font-family: 'Source Sans Pro', sans-serif;
  /* Import custom font */
  line-height: 1.5em; }

html {
  height: 100%; }

/* Put border inside box instead of growing it */
/* This will likely need to be made more specific in the future */
div {
  box-sizing: border-box; }

/* Remove bullet point from list elements */
li {
  list-style-type: none; }

/* Navigation menu at top of most content pages */
#menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 4em;
  border-bottom: 2px solid #13747D;
  background: #044645; }

#menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.menu-item {
  padding: .5em .75em;
  color: #FCF7C5;
  font-size: 1.5em;
  text-decoration: none; }

.menu-item:hover .underline-slide {
  width: 100%; }

.menu-item:hover .dropdown-content {
  display: block; }

.menu-item-text {
  position: relative; }

.underline-slide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #FC354C;
  transition: width .3s; }

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%; }

#home-button {
  margin-right: 2em; }

#container {
  position: absolute;
  min-height: 100%;
  width: 100%; }

/* Main content area */
#main {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: 4em; }

#footer {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1em;
  background: #463a35;
  /* Creates effect of footer extending to bottom of page */
  box-shadow: 0px 10000px 0px 10000px #463a35;
  text-align: center; }
