/* Colors derived from ColourLovers (http://www.colourlovers.com/palettes/) */
#main {
  text-align: center; }

#content {
  display: inline-block;
  max-width: 800px;
  margin: 0 2em 2em 2em;
  text-align: left; }
